@import url('http://fonts.googleapis.com/css2?family=Lobster&display=swap');


body{
    background-color: #FCEBB6;
    color: #221811;
    font-family: Tahoma, Arial, sans-serif;
}

/*Centers the main page content */
#wrapper {
    width: 80%;
    background-color: #FEFAEB;
    margin-left: auto;
    margin-right: auto;
}
header{
    color: #8C3826;
    background-color: #D2B48C;
    text-align: center; 
}

/* Main heading */
h1 {
    line-height: 200%;
    font-family: 'Lobster', cursive;
}

/* Section headings */
h2{
    color: #8C3826;
}

nav{
    text-align: center;
    font-weight: bold;
}

/* Navigation */
nav a {
    color: #8C3828;
    text-decoration: none;
}

/*  hover effect for navigation link*/
nav a:hover {
    color: #221811;
    text-decoration: underline;
}

a {
    color: #8C3826;

}

a:visited {
    color: #6B4F3A;
}

/* Table Border */
table {
    border: 2px solid #211811;
}
footer {
    background-color: #D2B48C;
    font-size: .60em;
    font-style: italic;
    text-align: center;
}